@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Decore</title>
    @Scripts.Render("~/bundles/modernizr")

    <!-- Shared Contet css from site.css renders here as bundle -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    @Styles.Render("~/content/css")

</head>
<body>

<!-- Imports the Navigation bar-->
@Html.Partial("_Navbar")


@RenderSection("outsideContainer", false)

<!-- All pages are rendered inside this container-->
<section class="page-wrapper">
    <div class="container">

        @RenderBody()

    </div>
</section>


<!-- Render script bundle from App_Start > BundleConfig.cs -->
@Scripts.Render("~/bundles/lib")


<!--Must be the last script file-->
@RenderSection("scripts", false)
</body>
</html>