<style>
    

    .navbar { border-bottom: transparent; }


    .navbar-default {
        -moz-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.16);
        -webkit-box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.16);
        background-color: #1893FD;
        box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.16);
    }


    .navbar-default li a {
        color: white !important;
        font-weight: bold;
    }

    .navbar-default .navbar-nav li a:hover { transition: background-color 0.8s ease; }

    .navbar-default .active a { background-color: #1982dc !important; }
       

    .navbar-header img {
        left: 10px;
        position: absolute;
        top: 0;
        width: 100px;
    }

    .navbar-nav {
        margin-left: 40px;
        margin-right: 0;
    }
</style>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href='@Url.Action("Index", "Home")'>
                <img src='@Url.Content("~/content/images/decore-logo.png")'/>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Home" ? "active" : "")">
                    @Html.ActionLink("Hem", "Index", "Home")
                </li>

                   @if (Session["userId"] != null) { 
                <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "EventList" ? "active" : "")">
                    @Html.ActionLink("Alla Event", "Index", "EventList")
                </li>

                <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "CreateEvent" ? "active" : "")">
                    @Html.ActionLink("Skapa Event", "Index", "CreateEvent")
                </li>

                <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "Alcohol" ? "active" : "")">
                    @Html.ActionLink("Uppvägning", "Index", "Alcohol")
                </li>
                   }
            </ul>
            @if (Session["userId"] != null)
            {
            <ul class="nav navbar-nav pull-right">
                <li class="@(ViewContext.RouteData.Values["controller"].ToString() == "MyAccount" ? "active" : "")">
                    @Html.ActionLink("Mina biljetter", "Index", "MyAccount")
                </li>
            </ul>
            }

        </div>
    </div>
</nav>