@using System.Web.Mvc.Html
@model Decore.ClientApp.ViewModels.EventViewModel

@{
    ViewBag.Title = "Event Page";
}


<style>
    .event {
        margin-bottom: 30px;
    }

    .thumbnail {
        background-color: #FFF;
        -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
        -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
        box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
        border-radius: 4px;
        color: #444444;
    }
   
 
    .modal-backdrop {
  z-index: -1;
}
</style>


<div class="content" style="display: block">

    @foreach (var item in Model.Events.OrderByDescending(Model => Model.CreatedAt))
    {
        <div class="row event" id="myTable">
            <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                <div class="thumbnail">
                    <img src="@item.ImageURL" alt="event image">
                    <div class="caption">
                        <h3>@item.Title</h3>
                        <p>Beskrivning: @item.Description</p>
                        <p>
                            Event typ:
                            @foreach (var eventType in @Model.EventTypes)
                            {
                                if (eventType.Id == @item.EventTypeId)
                                {
                                    @eventType.Title
                                }
                            }
                        </p>

                        <p>Adress: @item.Adress</p>
                        <p>Pris på biljett: @item.BasePrice kr</p>
                        <p>Pris på biljett för medlemmar: @item.MemberPrice kr</p>
                        
                        <p>
                            Utskott:
                            @foreach (var sectionType in @Model.SectionTypes)
                            {
                                if (sectionType.Id == @item.SectionId)
                                {
                                    @sectionType.Description;
                                }
                            }
                        </p>

                        <p>Startdatum för event: @item.StartDate</p>
                        <p>Slutdatum för event: @item.EndDate</p>
                        <p>Slutdatum för försäljning: @item.SaleStop</p>
                        <p>Skapad: @item.CreatedAt</p>
                        
                        @using (Html.BeginForm("DeleteEventById", "EventList", new { id = @item.Id }))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" style="float:right" class="btn btn-danger">Ta bort</button>
                        }

                        @using (Html.BeginForm("UpdateEventById", "CreateEvent", new { id = @item.Id }))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" style="float:right" class="btn btn-warning">Uppdatera</button>
                        }
                        <button class="btn btn-primary" role="button"  href="#ticketModal" data-toggle="modal" data-target="#ticketModal">Köp Biljett</button>
                        <button href="#" class="btn btn-default" role="button">Personal</button>

                        <div class="modal fade" id="ticketModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        <h4 class="modal-title">Detaljer för köp</h4>
                                    </div>
                                    <div class="modal-body">                                   
                                     @foreach (var items in Model.Events.OrderByDescending(Model => Model.CreatedAt))
                                     {
                                        <h3>@item.Title</h3>
                                        <p>Beskrivning: @items.Description</p>
                                        <p>
                                            Event typ:
                                            @foreach (var eventType in @Model.EventTypes)
                                            {
                                                if (eventType.Id == @items.EventTypeId)
                                                {
                                                    @eventType.Title
                                                }
                                            }
                                        </p>

                                        <p>Adress: @items.Adress</p>
                                        <p>Pris på biljett: @items.BasePrice kr</p>
                                        <p>Pris på biljett för medlemmar: @items.MemberPrice kr</p>

                                        <p>
                                            Utskott:
                                            @foreach (var sectionType in @Model.SectionTypes)
                                            {
                                                if (sectionType.Id == @items.SectionId)
                                                {
                                                    @sectionType.Description;
                                                }
                                            }
                                        </p>

                                        <p>Startdatum för event: @items.StartDate</p>
                                        <p>Slutdatum för event: @items.EndDate</p>
                                        <p>Slutdatum för försäljning: @items.SaleStop</p>


                                            <div class="modal-footer">      
                                                @using (Html.BeginForm("", "", new { id = @items.Id }))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    <button type="submit" style="float:right;" class="btn btn-info">Köp Biljett</button>
                                                }                                      
                                                <a href="#" style="margin-top: 5px;" data-dismiss="modal" class="btn">Close</a>
                                               
                                               
                                            </div>
                                     }

                                    </div>

                                </div>
                            </div>
                        </div>

                        
                   
                     
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section scripts {



}
