@using System.Web.Mvc.Html
@model Decore.ClientApp.ViewModels.EventViewModel


@{
    ViewBag.Title = "Event Page";
}


<style>
    .event {
        margin-bottom: 30px;
    }

    .thumbnail {
        background-color: #FFF;
        -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
        -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
        box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
        border-radius: 4px;
        color: #444444;
    }



   

</style>


<div class="content" style="display: block">
    
        @foreach (var item in Model.Events.OrderByDescending(Model => Model.CreatedAt))
        {
            <div class="row event" id="myTable">
                <div class="col-md-8 col-sm-offset-2 col-md-8 col-md-offset-2">
                    <div class="thumbnail">
                        <img style="max-height: 450px" src="@item.ImageURL" alt="event image">
                        <div class="caption">
                            <h3>@item.Title</h3>
                            <p>Beskrivning: @item.Description</p>
                            <p>
                                Event typ:
                                @foreach (var eventType in @Model.EventTypes)
                                {
                                    if (eventType.Id == @item.EventTypeId)
                                    {
                                        @eventType.Title
                                    }
                                }
                            </p>

                            <p>Adress: @item.Adress</p>
                            <p>Pris på biljett: @item.BasePrice kr</p>
                            <p>Pris på biljett för medlemmar: @item.MemberPrice kr</p>
                            <p>Antal biljetter: @item.MaxTickets</p>
                            <p>Antal personal: @item.MaxEmployees</p>
                            <p>
                                Utskott:
                                @foreach (var sectionType in @Model.SectionTypes)
                                {
                                    if (sectionType.Id == @item.SectionId)
                                    {
                                        @sectionType.Description;
                                    }
                                }
                            </p>

                            <p>Startdatum för event: @item.StartDate.ToShortDateString()</p>
                            <p>Slutdatum för event: @item.EndDate.ToShortDateString()</p>
                            <p>Slutdatum för försäljning: @item.SaleStop.ToShortDateString()</p>
                            <p>Skapad: @item.CreatedAt.ToLocalTime()</p>


                            <div class="row" style="margin-right: 10px">


                                @using (Html.BeginForm("DeleteEventById", "EventList", new { id = @item.Id }))
                                {
                                    @Html.AntiForgeryToken()
                                    <button type="submit" style="float: right" class="btn btn-danger">Ta bort</button>
                                }

                                @using (Html.BeginForm("UpdateEventById", "CreateEvent", new { id = @item.Id }))
                                {
                                    @Html.AntiForgeryToken()
                                    <button type="submit" style="float: right" class="btn btn-warning">Uppdatera</button>
                                }
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        }
           


    </div>
@section scripts {

   
}
