@model DecoreApp.ViewModels.EventViewModel
@{
    ViewBag.Title = "Event Page";
}


<style>
    .form-box {
        -webkit-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
        -moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
        box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.16);
        background: white;
        border-radius: 6px;
        padding: 10px;
        margin: 0 auto;
    }

    .inner-form {
        padding: 30px 0;
        margin: 0 auto;
        max-width: 280px;
    }

    .events {
        margin-top: 50px;
    }
</style>




<div class="row events">
    <div class="col-sm-12 col-md-8 col-md-offset-2">

        <div class="form-box">
            <h2 class="text-center">Create new event</h2>
            <div class="inner-form">


                @using (Html.BeginForm("CreateEvent", "CreateEvent", "POST"))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, "Title")
                        @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                    </div>



                    <div class="form-group">
                        @Html.LabelFor(model => model.ZipCode, "Post Nummer")
                        @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control" })
                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Adress, "Adress")
                        @Html.TextBoxFor(model => model.Adress, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ZipCode, "Postnummer")
                        @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ImageURL, "Image url")
                        @Html.TextBoxFor(model => model.ImageURL, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EventOwner, "Event Owner")
                        @Html.TextBoxFor(model => model.EventOwner, new { @class = "form-control" })
                    </div>
                    

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, "Beskrivning")
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                    </div>


                    <div class="form-group">
                        @Html.HiddenFor(model => model.Id, new { id = "hiddenId" })
                        <input type="submit" value="Lägg till" class="btn btn-primary create-save-btn" />
                    </div>

                }

            </div>



        </div>
    </div>
</div>




@section scripts {
    <script>
                $(".btn-success").on("click", function() {
                    $(".alert").removeClass("in").show();
	                $(".alert").delay(200).addClass("in").fadeOut(2000);
                });
    </script>
}