@model Decore.ClientApp.ViewModels.BeverageViewModel

@{
    ViewBag.Title = "Alcohol Page";
}

<style>

</style>


<div class="row content">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
        <div class="form-box">
            <h2 class="text-center">Uppvägning</h2>
            <div class="inner-form">

                
                <form id="myForm" class="form-group">        
                                       
                  
                    <div class="dropdown form-group">
                        <label for="beverage">Välj dryck</label>

                        <select name="beverage" id="beverageId" class="form-control">
                            @foreach (var beverage in Model.Beverages)
                            {
                                <option value="@(beverage.Id)">@beverage.Name @beverage.Percent% @beverage.Amount @beverage.UnitOfMeasure</option>
                            }
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="amount">Antal</label>
                        <input type="number" name="amount" id="amount" class="form-control">
                    </div>
                    

                

                    <button type="button" class="btn btn-primary onAdd">Lägg till ny</button>
                </form>

                <hr/>
                
                


                <ul id="measureListUl" class="list-group">
                    
                </ul>

                <button type="button" class="btn btn-success onPostButton">Skicka uppvägning</button>

            </div>
        </div>
    </div>

</div>

@section scripts {
    <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
        
    </script>

    <script>
        $(document)
            .ready(function() {


                var records = [];


                $("#myForm").on("click", ".onAdd", function () {
                    var beverageInfo = $('#beverageId  option:selected').text();
                    var beverageId = $('#beverageId').val();
                    var amount = $('#amount').val();
                    records.push({ BeverageId: beverageId, Amount: amount });

                    $("#measureListUl").append("" +
                        "<li class='list-group-item'>" +
                        "<p>" + beverageInfo + "<strong class='pull-right'>" + amount + "st</strong></p>" +
                        "</li>");
                });

                


                $(".onPostButton").on("click", function () {
                    var results = records;
                    $.post('@Url.Action("PostCountBeverage", "Alcohol")', { results: results },
                        function () {
                            console.log('success');
                        });
                  });


                


            });

    </script>
}