<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Decore</title>
    @Scripts.Render("~/bundles/modernizr")

    <!-- Shared Contet css from site.css renders here as bundle -->
    @Styles.Render("~/Content/css")
</head>
<body>

<!-- Imports the Navigation bar-->
@Html.Partial("_Navbar")


@RenderSection("outsideContainer", required: false)

<!-- All pages are rendered inside this container-->
<section class="page-wrapper">
    <div class="container">

        @RenderBody()

    </div>
</section>



<!-- Render script bundle from App_Start > BundleConfig.cs -->
@Scripts.Render("~/bundles/lib")
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/i18n/defaults-*.min.js"></script>



<!--Must be the last script file-->
@RenderSection("scripts", required: false)
</body>
</html>
